
.bg_header {
    background-color: black;
    padding: 2%;
    padding-bottom: 0%;
}
.LogoText {
color:#fff;
font-weight:bold;
float:right;
font-size:20px;
}
.bgBack {
    background: url(../images/bg2.jpg);
    /* height: 530px; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding-bottom: 4%;
    position:relative;
    /*height:560px;*/

}

.formControl {
background-color: rgba(0, 0, 0, 0.66);
color:#fff;
        margin-top: 2%;
        padding-left:0;
        padding-right:0;
}
.titleHeader {
    background: black;
    padding-top: 1px;
    padding-left: 3%;
    padding-bottom: 3px;
}
div[role=urlFetching]{
    margin: 3% 0% 0% 0%;
    padding: 1% 3% 3% 3%;
  position: relative;
}
#urlForm{
  background: #fff;
  font: inherit;
  font-size: 1.5em;
  height: 4em;
  padding: 0;
  position: relative;
  vertical-align: middle;
}
#urlForm #urlText{
  border: 1em solid #eee;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  display: inline-block;
  font: inherit;
  font-size: 1em;
  height: 100%;
  outline: none;
  padding: 0 1em;
  transition: border-color 500ms ease;
  -webkit-transition: border-color 500ms ease;
  vertical-align: middle;
  width: 100%;
  -webkit-appearance: none;
}
#urlForm #urlText:focus{
  border-color: rgba(85, 113, 128, 0.3);
}
label[for="urlText"]{
  color: #999;
  height: 2em;
  left: 2em;
  line-height: 2em;
  opacity: 1;
  filter: alpha(opacity=100);
  pointer-events: none;
  position: absolute;
  top: 1em;
  transition: opacity 300ms linear;
  -webkit-transition: opacity 300ms linear;
  vertical-align: middle;
}
#urlForm #urlText:focus + label,
#urlForm #urlText:valid + label{
  opacity: 0;
  filter: alpha(opacity=0);
}
#go{
  background: #333;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font: inherit;
  font-size: 1em;
  font-weight: 900;
  height: 2em;
  padding: 0 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
  -webkit-appearance: none;
}
#go:hover{
  background: #55717f;
  cursor: pointer;
}
div#resolution {
    margin:0% 0% 3% 0%;
    padding: 1% 1% 0% 3%;
    position: relative;
}
#resolution .btn {
    width: 24%;
    height: 46px;
}
.loaded {
 display: none; 
 color: #fff;
 text-align: center;
 margin-top: 10px;
     font-size: 23px;
}

#loader {
 /*width: 200px;
 margin: 0 auto;*/
}

#loader input[type=submit] {
    border: none;
    cursor: pointer;
    padding: 9px 29px;
    margin-left: 34%;
    margin-top: 6px;
    color: #8eeb00;
    background-color: #000;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
    border:2px solid;
}
#loader input[type=submit]:active {
  box-shadow: none;
  margin-top: 11px;
}

.loading {
    display:none;
    position: relative;
    border-radius: 2px;
    height: 34px;
    background-color: #000;
    margin: 2% 4% 1% 1%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
.loading > span {
 box-shadow: 0px 0px 20px 0px rgba(100, 200, 0, 1);
 position: absolute;
 height: 10px;
 top: 32%;
 background-color: #8eeb00;
 width: 0%;
}
/*Download Button*/

.dwnld {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px hsla(0, 0%, 0%, .6);
  padding: 1em;
  color: hsla(255, 255%, 255%, 1);
  text-align: center;
  text-shadow: 0 2px 0 hsla(0, 0%, 0%, .25);
  font: 400 1.5em /1 'Raleway', sans-serif;
  letter-spacing: 4px;
  background: hsla(155, 95%, 35%, 1);
  cursor: pointer;
  padding-left: 16%;
    padding-right: 13%;
    padding:8%;
}

.dwnld {
  animation: jiggle 2s ease-in infinite;
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}
div#download {
    margin-bottom: 3%;
    float: left;
    padding-left: 40%;
}
button.slide {
    background-color:#449d44;
    color:#fff;
  position: relative;
  height: 45px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  outline:none;
  border: 2px #449d44 solid;
  border-radius: 4px;
 

  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.slide:after{
  content:"Download";
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top: 11px;
  text-align:center;
  -webkit-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:before {
  content:"Download →";
  height:100%;
  width:100%;
  position:absolute;
  color:#383736;
  left:-100%;
  opacity: 0;
  top: 11px;
  -webkit-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:hover{
  background:#c9302c;
  border-color:#ac2925;
}

.slide:hover:before{
  left:0;
  opacity:1;
  color:#fff;
}
.slide:hover:after{
  left:100%;
  opacity:0;
}

div#submitForm {
    padding: 0% 0% 0% 3%;
}
.textMultiCheck {
    background-color: #eeeeee;
    padding: 2%;
    width: 94%;
    margin-left: 3%;
}
.urlCheck {
background-color: white;
    padding: 1%;
    padding-left: 3%;
    padding-top: 2%;
    display: block;
    height: 166px;
    overflow: scroll;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
     top: 3px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
 content: '✔';
    position: absolute;
    top: 29%;
    left: .1em;
    font-size: 15px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.urlCheck p {
color: #333333
}

.reference{background: white;
    color: black;
    padding: 1%;
    text-align: center;
    font-size: 50px;
  }
footer#contact {
       background: black;
    color: #fff;
    padding: 1%;
    text-align: center;
    font-size: 10px;
    /*position: absolute;*/
    border: 2px;
/*    bottom: 0;
    width: 100%;*/
}
